<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">

  <title>Button Clicker 2.1</title>
  <script src="buttonclicker.js"></script>
</head>
<body>
  <h1>BUTTON CLICKER</h1>
  <button id="theButton" type="button" onclick="buttonClick();">4</button>
  <div id="level">LEVEL 0</div>
</html>
